<section>
  <div class="row">
    <div class="background">
      <div class="container">

        <div class="col-md-4 col-md-offset-4">
          <div class="signuppanel">
            <h2>Forgot your password?</h2>

            <br>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>


                <div class="field">
                <%= f.label :email, class: "formlabel"%><br/>
                <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
              </div>

        	 <br>
              <div class="actions">
                <%= f.submit "Send me instructions", class: "btn btn-primary btn-forgotpassword"  %>
              </div>
              <% end %>

              <br>

               <div class="signuplink">            
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 