<section>
    <div class="row">
      <div class="container">
       <div class="col-md-12">
         <div class="showtopbarbackground">

                </div>
    </div>
  </div>

</section>



<section>
   <div class="row"> <div class="showlistingbackground">
   
      <div class="container">
       <div class="col-md-12">

 
    <div class="col-md-4">
      <%= image_tag @post.avatar.url(:medium) %>

      <hr>    

      <div class="panel panel-primary" id="mapbox">
        <div class="panel-heading">
          <h3 class="panel-title">Location</h3>
        </div>

        <div class="panel-body">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=370x370&sensor=false&zoom=14&markers=#{@post.latitude}%2C#{@post.longitude}" %>
            
        
        </div>

      </div>
    </div>

    <div class="col-md-6 col-md-offset-1">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%=@post.title%></h3>
        </div>

        <div class="panel-body darkcolor">
          <h4><strong>Description</strong></h4>
          <h5><%= @post.description %> </h5>
          <hr>
          <h4><strong>Property details</strong>
          <h5>Location: <%=@post.city%>, <%= @post.country_name  %>
          <h5>Property type: <%=@post.proptype %>
          <h5>Number of bedrooms: <%=@post.bedrooms %>
          <h5>Step-free access to property: &nbsp;<%= icon 'check' if @post.sf_entry == true %> <%= icon 'times' if @post.sf_entry == false %></h5>
          <h5>Step-free access to a bedroom: &nbsp; <%= icon 'check' if @post.sf_bedroom == true %> <%= icon 'times' if @post.sf_bedroom == false %></h5>
          <h5>Step-free access to a bathroom: &nbsp;<%= icon 'check' if @post.sf_bathroom == true %> <%= icon 'times' if @post.sf_bathroom == false %></h5>
          <h5>Roll in shower: &nbsp;<%= icon 'check' if @post.roll_shower == true%> <%= icon 'times' if @post.roll_shower == false %></h5>
          <hr>
          <h4><strong>Availability</strong></h4>
          <h5>Holiday rental: &nbsp;<%= icon 'check' if @post.holiday == true%><%= icon 'times' if @post.holiday == false %></h5>
          <h5>Short-term rental (between 1 and 6 months): &nbsp;<%= icon 'check' if @post.shortterm == true%><%= icon 'times' if @post.shortterm == false %></h5>
          <h5>Long-term rental (greater than 6 months): &nbsp;<%= icon 'check' if @post.longterm == true%><%= icon 'times' if @post.longterm == false %></h5>
          <hr>
          <h4><strong>Price</strong></h4>
          <h5><%=@post.price%>&nbsp;<%=@post.price_info%>
          <hr>
          <h4><strong>Additional access information</strong></h4>
          <h5><%=@post.access_info %></h5> 

          <%= link_to "Contact host", new_post_order_path(@post.id), class: "btn btn-success" %>
        </div>

      </div>
  
      
    </div>
    
  </div>

  <%@post.photos do |photo| %> 

    <%= image_tag photo.image_url(:thumb) %>
    <%end %>
  

</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


      </div>
    </div>
    </div>
  </div>

</section>
